<!DOCTYPE html>
<html>
<head>
  <title>e-hospitality</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
  <style>
   .jumbotron {
      background-image: url("https://tse2.mm.bing.net/th?id=OIP.om6byX4VBc4OA_bWv_PgFAHaE8&pid=Api&P=0&h=180");
      background-size: cover;
      height: 100vh;
      color: #a70404;
      text-align: center;
    }
   .jumbotron h1 {
      font-size: 48px;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">E-Hospitality</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="doctor_dashboard.html">Doctor <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="patient_dashboard.html">Patient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="admin_dashboard.html">Admin</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="jumbotron">
    <h1>Welcome to E-Hospitality</h1>
    <p>Your trusted partner for Health</p>
  </div>
  <div class="container">
    <h2>Our Services</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">24 Hours Emergency</h5>
            <p class="card-text">Our 24-hour Emergency Department is dedicated to providing immediate and comprehensive medical care around the 
              clock. Equipped with state-of-the-art technology and staffed by highly trained medical professionals, we handle all types of 
              emergencies with precision and urgency. From trauma and critical care to minor injuries and sudden illnesses, we are here to offer 
              rapid and effective treatment. Trust us to deliver expert care when you need it most, any time of day or night.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Trauma Care</h5>
            <p class="card-text">Our Trauma Care Unit is equipped to handle severe and life-threatening injuries with the utmost expertise and 
              speed. Staffed by a specialized team of surgeons, nurses, and support personnel, we provide immediate assessment and treatment for 
              critical conditions. Utilizing advanced technology and protocols, we ensure that patients receive the highest standard of care 
              during emergency situations. Our focus is on stabilizing, treating, and supporting patients through their recovery </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Urgent Care</h5>
            <p class="card-text">Our Urgent Care Center offers prompt medical attention for non-life-threatening conditions without the need for an
               appointment. Open extended hours, we provide services for minor injuries, illnesses, and other urgent health concerns. Staffed by 
               experienced healthcare professionals, we ensure quick, efficient, and compassionate care. Trust us for your immediate healthcare 
               needs when your primary doctor is unavailable.</p>
          </div>
        </div>
      </div>
    </div>
    <h2>Special Doctors</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="https://www.doczo.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdoczo%2Fimage%2Fupload%2Fg_face%2Cc_thumb%2Cw_350%2Ch_350%2Cf_auto%2Cq_auto%2Fv1594401949%2Fdoctors%2Fcardiologist-kozhikode-sujatha-p.jpg&w=128&q=75" class="card-img-top" alt="Dr. Sujatha.P">
            <h5 class="card-title">Dr. Sujatha.P</h5>
            <p class="card-text">Cardiologist</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="https://www.doczo.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdoczo%2Fimage%2Fupload%2Fg_face%2Cc_thumb%2Cw_350%2Ch_350%2Cf_auto%2Cq_auto%2Fv1594402132%2Fdoctors%2Fpediatrician-kozhikode-geetha-mammayil.jpg&w=128&q=75" class="card-img-top" alt="Dr. Sujatha.P">
            <h5 class="card-title">Dr.Geetha Mammayil</h5>
            <p class="card-text">Pediatrician</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="https://www.doczo.com/_next/image?url=https%3A%2F%2Fres.cloudinary.com%2Fdoczo%2Fimage%2Fupload%2Fg_face%2Cc_thumb%2Cw_350%2Ch_350%2Cf_auto%2Cq_auto%2Fv1594401997%2Fdoctors%2Forthopedic-kozhikode-abu-alex.jpg&w=128&q=75" class="card-img-top" alt="Dr. Sujatha.P">
            <h5 class="card-title">Dr.Abu Alex</h5>
            <p class="card-text">Orthopedic Surgeon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <p>&copy; 2024 E-Hospitality</p>
  </footer>
</body>
</html>